/* Blog Card Styles Starts Here */
.blog-card {
height: 25rem;
  flex: 0 0 80%;
  max-width: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.back-img {
  height: 15rem;
  border-radius: 1rem;
  background-position: center;
  background-size: cover;
}

.blog-content {
  padding: 1rem;
}

.button-align{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.button-align p{
  margin-top: 2rem;
}

.blog-read{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.blog-content .upper-tags {
  display: flex;
  justify-content: space-between;
}

.blog-content p{
  font-size: .9rem;
}

.blog-content .upper-tags span {
  background-color: var(--primary);
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 0.8rem;
  color: var(--white);
}

.blog-content h1 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary);
}
/* Blog Card Styles Ends Here */
